:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #ffa726; /* default blue */
  --primary-hover : #555555;
  --primary-light: #4ba3ff;
  --button-bg: var(--primary-color);
  --button-border: var(--primary-color);
  --text-on-primary : #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 14px;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  font-family: var(--font-poppins), sans-serif;
}

h1, h2, h3, h4 {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 700;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.white-bg{
  background: #fff;
}

.highlight {
  color: var(--primary-color);
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
